.feedback-section{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 1312px;
    padding-left: 64px;
    padding-right: 64px;
}
.feedbackContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow{
    width: 48px;
    height: 48px;
    color: #FFF;
    border-radius: 4px; 
}
.item-leave{
  background: #7D4699;
  padding: 10px 24px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 30px;
} 
.arrowLeft{
    margin-left: 50px;
}
.arrowRight{
    margin-right: 50px;
}
.arrow-img{
    z-index: 1;
}
.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  margin: 0 auto;
}
.feedback-item {

    height: 350px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-coment{
    width: 768px;
}
.stars {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  .star {
    position: relative;
    width: 20px;
    height: 20px;
    background: lightgray;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );   
  }
  .star::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #764191;
    width: var(--fill, 0%);
    z-index: 1;
    clip-path: inherit;
  }
.item-coment {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 55px;
    text-align: center;
}
.item-person {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-top: 32px;
}
.swiper {
  max-width: 80%;
  height: 300px;
}
.swiper-button-prev:after{
  content: '';
  background: url(/img/feedback-section/arrowLeft.png)no-repeat center/cover;
  position: relative;
  z-index: 10;
  width: 49px;
  height: 49px;
}
.swiper-button-next:after{
  content: '';
  background: url(/img/feedback-section/arrowLeft.png)no-repeat center/cover;
  rotate: 180deg;
  position: relative;
  z-index: 10;
  width: 49px;
  height: 49px;
}