<section class="about-artists">
    <div class="container__about">
        <div class="data__about">
            <div class="block1__about">
                <img src="../img/header-images/about-us/team__about.png" alt="team" class="img__about">
            </div>
            <div class="block2__about">
                <img src="../img/header-images/about-us/logo__about.svg" alt="logo" class="mini_icon__about">
                <h1 class="title__about">About ArtistsHub</h1>
                <p class="description__about">At ArtistsHub, our mission is to connect music lovers with the artists they adore. We strive to create a vibrant community where discovering new music is as enjoyableas listening to it.</p>
            </div>
        </div>
    </div>
</section>