<section class="about-artists">
    <div class="container__about">
        <div class="data__about">
            <div class="block1__about">
                <img data-src="img/about-us/team__about.png" alt="team" class="img__about">
            </div>
            <div class="block2__about">
                <img src="img/about-us/logo__about.svg" alt="logo" class="mini_icon__about">
                <h1 class="title__about">About <span class="description__about__highlight">ArtistsHub</span></h1>
                <p class="description__about">At ArtistsHub, our mission is to <span class="description__about__highlight">connect musiclovers</span> with the artists they adore.</p>
            </div>
        </div>
    </div>
</section>