<section class="artist-section">
  <div class="container-artist">
    <div class="artist-text-wrapper">
      <p class="artist-text-wrapper__paragraph">Artists</p>
      <h2 class="artist-title-wrapper__title">Explore Your New Favorite Artists</h2>
    </div>
    <div class="block-artist">
      <ul class="block-artist__list">
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/ren.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Ren</h2>
          <p class="block-artist-list-item__paragraph">Ren Eryn Gill, known professionally as Ren, is a
            multi-award-winning Welsh singer-songwriter, musician, rapper, producer, and director. ...</p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/pluto.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Unlike Pluto</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/sleepy.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Sleepy Hallow</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/samara.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Samara Cyn</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/olver.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Olver Tree</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/logic.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Logic</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/mother.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Mother Mother</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
        <li class="block-artist-list__item">
          <div class="block-artist-list-item__wrapper-icon">
            <img src="/img/artist-section/livingston.jpg" alt="Ren" class="block-artist-list-wrapper__icon" width="574"
              height="394">
          </div>
          <div class="block-artist-list-item__wrapper-text">
            <span class="block-artist-list-item-wrapper-text__span">Alternative</span>
            <span class="block-artist-list-item-wrapper-text__span">Pop</span>
            <span class="block-artist-list-item-wrapper-text__span">Rock</span>
            <span class="block-artist-list-item-wrapper-text__span">Indie</span>
          </div>
          <h2 class="block-artist-list-item__title">Livingston</h2>
          <p class="block-artist-list-item__paragraph">A look at the influential figures who shaped jazz music history.
          </p>
          <button href="#" class="block-artist-list-item__button">Learn More <img
              src="/img/artist-section/arrow-right.svg" alt="arrow-right"></button>
        </li>
      </ul>
      <div class="block-artist-wrapper">
        <button class="block-artist-wrapper__button">Load More <img src="/img/artist-section/arrow-down.svg"
            alt="arrow-down" width="13" height="13" class="block-artist-wrapper__icon"></button>
      </div>
    </div>
  </div>
</section>