<section class="artist-section" id="artists">
  <div class="container-artist">
    <div class="artist-text-wrapper">
      <p class="artist-text-wrapper__paragraph">Artists</p>
      <h2 class="artist-title-wrapper__title">
        Explore Your New Favorite Artists
      </h2>
    </div>
    <div class="block-artist">
      <ul class="block-artist__list"></ul>
      <div class="block-artist-wrapper">
        <button class="block-artist-wrapper__button hidden">
          Load More
          <img
            src="./img/artist-section/arrow-down.svg"
            alt="arrow-down"
            width="13"
            height="13"
            class="block-artist-wrapper__icon"
          />
        </button>
      </div>
    </div>
  </div>
</section>
