<div id="artistModal" class="modal-window">
    <div class="contain">
        <div class="artist-details-modal-name">
            <h2 class="artist-name"></h2>
            <button class="close-btn" aria-label="Close">×</button>
        </div>

        <div class="artist-details-modal-info">
            <div class="artist-cover">
                <img class="artist-image" src="" alt="Artist Image" />
            </div>

            <div class="artist-meta">
                <div class="artist-grid">
                    <div>
                        <span class="label">Years active</span>
                        <span class="value artist-years-active"></span>
                    </div>
                    <div>
                        <span class="label">Sex</span>
                        <span class="value artist-sex"></span>
                    </div>
                    <div>
                        <span class="label">Members</span>
                        <span class="value artist-members"></span>
                    </div>
                    <div>
                        <span class="label">Country</span>
                        <span class="value artist-country"></span>
                    </div>
                </div>

                <div class="artist-bio">
                    <h3 class="label">Biography</h3>
                    <p class="artist-bio-text"></p>
                </div>

                <div class="artist-genres">
                </div>
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>