<div class="swiper feedback-section">
    <div class="swiper-wrapper feedback">
      <!-- .swiper-slide елементи додаються динамічно -->
    </div>
  
    <div class="swiper-button-prev arrow"></div>
    <div class="swiper-button-next arrow"></div>
</div>
 <!--  <button class="arrowLeft arrow swiper-button-prev">
        <img class="arrow-img" src="./img/feedback-section/arrowLeft.png" alt="">
    </button>
    <button class="arrowRight arrow swiper-button-next">
        <img class="arrow-img" src="./img/feedback-section/arrowRight.png" alt="">
    </button> -->








