<footer class="footer ">
  <div class="footer-inner">
    <div class="footer-top">
      <a href="/" class="footer-logo">
        <img src="./img/footer/logo.svg" alt="Logo">
        
      </a>

      <nav class="footer-nav">
        <a href="#artists">Artists</a>
        <a href="#about">About us</a>
        <a href="#reviews">Reviews</a>
      </nav>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
      <p class="copyright">© 2025 ArtistsHub. All rights reserved.</p>
      <div class="footer-socials">
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
          <img src="./img/footer/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
          <img src="./img/footer/facebook.svg" alt="Facebook">
        </a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
          <img src="./img/footer/youtube.svg" alt="YouTube">
        </a>
      </div>
    </div>
  </div>
</footer>