<section class="hero-section">
    <div class="hero-container">
        <div class="text-div">
            <h2 class="hero-title">Discover Your Next Favorite Artist Today</h2>
            <p class="hero-paragraph">Dive into a world of music discoveries with ArtistsHub – your personal guide to
                the boundless universe of sound. Explore, filter, and learn about your favorite artists all in one
                place.</p>
            <button class="hero-btn">Explore Artists
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8 5L16 12L8 19V5Z" stroke="white" stroke-width="2" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <img src="/img/hero-section/artists.png" alt="">
    </div>
</section>